.form {
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    width: 90%;
    margin: auto auto 5% auto;
}

.input {
    border: none;
    border-radius: 25px;
    padding: 5px 20px;
    width: 80%;
    font-size: 1em;
    color: #777777;
    background-color: #c3c7d8;
    box-shadow: 2px 2px 5px #979ba9, -2px -2px 5px rgba(255, 255, 255, 0.6);
}

@keyframes shadow {
    0% {
        box-shadow: 2px 2px 2px #979ba9, -2px -2px 5px rgba(255, 255, 255, 0.6);
    }
    50% {
        box-shadow: 0 0 0 #979ba9, 0 0 0 rgba(255, 255, 255, 0.6);
    }
    100% {
        box-shadow: inset 3px 3px 2px #979ba9, 2px 2px 5px rgba(255, 255, 255, 0.6);
    }
}

.input:focus {
    transition: 200ms;
    animation: shadow 200ms forwards;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.sendButton {
    color: #6A749C !important;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    border-radius: 50%;
    text-transform: uppercase;
    text-decoration: none;
    background: #c3c7d8;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #c3c7d8;
    box-shadow: 2px 2px 5px #979ba9, -2px -2px 5px rgba(255, 255, 255, 0.6);
}