.messageBox {
    background: #c3c7d8;
    border-radius: 3px;
    padding: 0 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}

.messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 0.8em;
    word-wrap: break-word;
    margin: 0;
}

.messageText img {
    vertical-align: middle;
}

.messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
}

.messageContainer.admin .messageBox {
    background-color: #AA3939;
}

.sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
    margin: 5px 0;
    font-size: 0.9em;
}

.pl-10 {
    padding-left: 5px;
}

.pr-10 {
    padding-right: 5px;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}

.colorWhite {
    color: white;
}

.colorDark {
    color: white;
}

.backgroundBlue {
    background: #2E4372;
}

.backgroundLight {
    background: #828282;
}