html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #c3c7d8;
}

.joinInnerContainer {
    width: 350px;
    padding: 50px;
    border-radius: 10px;
    background-color: #c3c7d8;
    box-shadow: 6px 6px 9px #979ba9, -4px -4px 9px rgba(255, 255, 255, 0.6);
}

.joinInput {
    border-radius: 5px;
    border: none;
    background-color: #c3c7d8;
    box-shadow: 2px 2px 5px #979ba9, -2px -2px 5px rgba(255, 255, 255, 0.6);
    padding: 15px 20px;
    width: 100%;
    color: #777777;
    transition: 300ms;
}

@keyframes shadow {
    0% {
        box-shadow: 2px 2px 2px #979ba9, -2px -2px 5px rgba(255, 255, 255, 0.6);
    }
    50% {
        box-shadow: 0 0 0 #979ba9, 0 0 0 rgba(255, 255, 255, 0.6);
    }
    100% {
        box-shadow: inset 3px 3px 2px #979ba9, 2px 2px 5px rgba(255, 255, 255, 0.6);
    }
}

.joinInput:focus {
    transition: 200ms;
    animation: shadow 200ms forwards;
}

.heading {
    color: white;
    font-size: 2.5em;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.button {
    color: #6A749C !important;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #c3c7d8;
    box-shadow: 2px 2px 5px #979ba9, -2px -2px 5px rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

.mt-20 {
    margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
        height: 100%;
    }
    .joinInnerContainer {
        width: 90%;
    }
}

button:focus {
    outline: 0;
}